requests>=2.5.3
ChatterBot>=1.0.8
chatterbot-corpus>=1.2.0
win10toast>=0.9
wikipedia>=1.4.0
pyttsx3>=2.90
Eel>=0.12.4
SpeechRecognition>=3.8.1
pprintpp>=0.4.0
PyAutoGUI>=0.9.52
psutil>=5.7.3
playsound==1.2.2
spacy>=2.2.2
PyAudio>=0.2.11
numpy>=1.19.3
spacy
en-core-web-sm